/*
 * VARCem	Virtual ARchaeological Computer EMulator.
 *		An emulator of (mostly) x86-based PC systems and devices,
 *		using the ISA,EISA,VLB,MCA  and PCI system buses, roughly
 *		spanning the era between 1981 and 1995.
 *
 *		This file is part of the VARCem Project.
 *
 *		Common resources for the application.
 *
 * Version:	@(#)VARCem-common.rc	1.0.7	2018/08/18
 *
 * Author:	Fred N. van Kempen, <decwiz@yahoo.com>
 *
 *		Copyright 2017,2018 Fred N. van Kempen.
 *
 *		Redistribution and  use  in source  and binary forms, with
 *		or  without modification, are permitted  provided that the
 *		following conditions are met:
 *
 *		1. Redistributions of  source  code must retain the entire
 *		   above notice, this list of conditions and the following
 *		   disclaimer.
 *
 *		2. Redistributions in binary form must reproduce the above
 *		   copyright  notice,  this list  of  conditions  and  the
 *		   following disclaimer in  the documentation and/or other
 *		   materials provided with the distribution.
 *
 *		3. Neither the  name of the copyright holder nor the names
 *		   of  its  contributors may be used to endorse or promote
 *		   products  derived from  this  software without specific
 *		   prior written permission.
 *
 * THIS SOFTWARE  IS  PROVIDED BY THE  COPYRIGHT  HOLDERS AND CONTRIBUTORS
 * "AS IS" AND  ANY EXPRESS  OR  IMPLIED  WARRANTIES,  INCLUDING, BUT  NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
 * PARTICULAR PURPOSE  ARE  DISCLAIMED. IN  NO  EVENT  SHALL THE COPYRIGHT
 * HOLDER OR  CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL,  EXEMPLARY,  OR  CONSEQUENTIAL  DAMAGES  (INCLUDING,  BUT  NOT
 * LIMITED TO, PROCUREMENT OF SUBSTITUTE  GOODS OR SERVICES;  LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED  AND ON  ANY
 * THEORY OF  LIABILITY, WHETHER IN  CONTRACT, STRICT  LIABILITY, OR  TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING  IN ANY  WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

#ifdef _MSC_VER
# define MENUSEPARATOR	MENUITEM "" , , MFT_SEPARATOR
#else
# define MENUSEPARATOR	MENUITEM SEPARATOR
#endif

#define FONT_NAME	"Segoe UI"


MainMenu MENUEX
BEGIN
    POPUP STR_ACTION
    BEGIN
        MENUITEM STR_4001,IDM_RESET_HARD
        MENUITEM STR_4002,IDM_RESET
	MENUSEPARATOR
	MENUITEM STR_4003,IDM_CAE
	MENUITEM STR_4004,IDM_CAB
        MENUSEPARATOR
        MENUITEM STR_4005,IDM_PAUSE
        MENUSEPARATOR
	MENUITEM STR_4014,IDM_RCTRL_IS_LALT
        MENUSEPARATOR
        MENUITEM STR_4006,IDM_EXIT
    END

    POPUP STR_VIEW
    BEGIN
        MENUITEM STR_4011,IDM_RESIZE
        MENUITEM STR_4012,IDM_REMEMBER
        MENUSEPARATOR
        POPUP STR_4020,IDM_RENDER
        BEGIN
            MENUSEPARATOR
        END
        MENUSEPARATOR
        POPUP STR_4030
        BEGIN
            MENUITEM STR_4031,IDM_SCALE_1
            MENUITEM STR_4032,IDM_SCALE_2
            MENUITEM STR_4033,IDM_SCALE_3
            MENUITEM STR_4034,IDM_SCALE_4
        END
        MENUSEPARATOR
        MENUITEM STR_4013,IDM_FULLSCREEN
        POPUP STR_4040
        BEGIN
            MENUITEM STR_4041,IDM_STRETCH
            MENUITEM STR_4042,IDM_STRETCH_43
            MENUITEM STR_4043,IDM_STRETCH_SQ
            MENUITEM STR_4044,IDM_STRETCH_INT
            MENUITEM STR_4045,IDM_STRETCH_KEEP
        END
	MENUSEPARATOR
        MENUITEM STR_4015,IDM_UPDATE_ICONS
    END

    POPUP STR_DISPLAY
    BEGIN
        MENUITEM STR_4051,IDM_INVERT
        MENUITEM STR_4052,IDM_OVERSCAN
        POPUP STR_DISPTYPE
        BEGIN
            MENUITEM STR_4061,IDM_SCREEN_RGB
            MENUITEM STR_4062,IDM_SCREEN_GRAYSCALE
            MENUITEM STR_4063,IDM_SCREEN_AMBER
            MENUITEM STR_4064,IDM_SCREEN_GREEN
            MENUITEM STR_4065,IDM_SCREEN_WHITE
        END
        POPUP STR_GRAYSCALE
        BEGIN
            MENUITEM STR_4071,IDM_GRAY_601
            MENUITEM STR_4072,IDM_GRAY_709
            MENUITEM STR_4073,IDM_GRAY_AVE
        END
        MENUSEPARATOR
        MENUITEM STR_4053,IDM_FORCE_43
        MENUITEM STR_4054,IDM_CGA_CONTR
    END

    POPUP STR_TOOLS
    BEGIN
        MENUITEM STR_4081,IDM_SETTINGS
	POPUP STR_4082,IDM_LANGUAGE
        BEGIN
            MENUSEPARATOR
        END
        MENUSEPARATOR
#ifdef ENABLE_LOGGING
	POPUP STR_4083,IDM_LOGGING
	BEGIN
	    MENUITEM "&Log breakpoint\tCtrl+Insert", IDM_LOG_BREAKPOINT
	    MENUSEPARATOR
	END
#endif
        MENUITEM STR_4084,IDM_LOAD
        MENUITEM STR_4085,IDM_SAVE
	MENUSEPARATOR
        MENUITEM STR_4086,IDM_STATUS
	MENUSEPARATOR
        MENUITEM STR_4087,IDM_SCREENSHOT
    END

    POPUP STR_HELP
    BEGIN
        MENUITEM STR_4091,IDM_ABOUT
    END
END

StatusBarMenu MENU
BEGIN
    MENUITEM SEPARATOR
END


DLG_LOCALIZE DIALOG 0, 0, 200, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION STR_LOCALIZE
FONT 9, FONT_NAME
BEGIN
    LTEXT           STR_3211,IDT_LOCALIZE,10,10,125,36

    LISTBOX         IDC_LOCALIZE,10,40,125,70,
                    WS_BORDER | WS_VSCROLL | LBS_SORT

    ICON            100,IDC_ABOUT_ICON,150,30,65,65

    DEFPUSHBUTTON   STR_OK,IDOK,145,90,50,14

    LTEXT           "",IDT_LOCALIZE+1,10,110,20,12
    LTEXT           "",IDT_LOCALIZE+2,35,110,160,12
END


DLG_ABOUT DIALOG 0, 0, 250, 160
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION STR_ABOUT
FONT 9, FONT_NAME
BEGIN
    ICON            100,IDC_ABOUT_ICON,5,5,20,20

    CTEXT           "",IDT_TITLE,55,5,195,20

    CTEXT           "Virtual ARchaeological Computer EMulator",
                    IDC_ABOUT_ICON,55,22,195,10
    CTEXT           "",IDT_VERSION,55,33,195,10

    CONTROL         "",IDC_ABOUT_ICON,"Static",
                    SS_BLACKFRAME | SS_SUNKEN,10,45,230,1

    LTEXT           STR_3201,IDC_ABOUT_ICON,5,55,40,10
    LTEXT           STR_3202,IDC_ABOUT_ICON,50,55,195,30
    LTEXT           STR_3203,IDC_ABOUT_ICON,5,85,240,30

    LTEXT           STR_3204,IDC_ABOUT_ICON,5,115,240,10

    PUSHBUTTON      STR_LOCALIZE,IDC_LOCALIZE,5,140,60,14

    DEFPUSHBUTTON   STR_OK,IDOK,75,140,60,14

    CONTROL         "",IDC_DONATE,"Static",SS_BITMAP|SS_NOTIFY,175,130,105,50
END

DLG_STATUS DIALOG 0, 0, 186, 386
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION STR_STATUS
FONT 9, FONT_NAME
BEGIN
    LTEXT           "1",IDT_SDEVICE,16,16,180,1000
    LTEXT           "1",IDT_STEXT,16,186,180,1000
END

DLG_SND_GAIN DIALOG 0, 0, 113, 136
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION STR_SNDGAIN
FONT 9, FONT_NAME
BEGIN
    CTEXT           STR_3251,IDT_1746,16,7,32,9,SS_CENTERIMAGE

    CONTROL         "Gain",IDC_SLIDER_GAIN,"msctls_trackbar32",
                    TBS_VERT | TBS_BOTH | TBS_AUTOTICKS | WS_TABSTOP,
                    15,20,30,109

    DEFPUSHBUTTON   STR_OK,IDOK,57,7,50,14
    PUSHBUTTON      STR_CANCEL,IDCANCEL,57,24,50,14
END

DLG_NEW_FLOPPY DIALOG 0, 0, 226, 95
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION STR_NEWIMG
FONT 9, FONT_NAME
BEGIN
    LTEXT           STR_FILENAME,IDT_1749,7,6,90,12,SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_FILE_NAME,7,20,150,14,
                    ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      STR_BROWSE,IDC_CFILE,160,19,60,14

    LTEXT           STR_3276,IDT_1750,7,38,70,12,SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_DISK_SIZE,7,52,90,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_3277,IDT_1751,110,38,70,12,SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_RPM_MODE,110,52,110,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_PROGRESS,IDT_1757,7,6,70,12,SS_CENTERIMAGE
    CONTROL         "CreateProgress",IDC_PBAR_IMG_CREATE,"msctls_progress32",
                    PBS_SMOOTH | WS_BORDER,7,20,166,14

    DEFPUSHBUTTON   STR_OK,IDOK,55,75,50,14
    PUSHBUTTON      STR_CANCEL,IDCANCEL,130,75,50,14
END

DLG_CONFIG DIALOG 0, 0, 366, 251
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION STR_SETTINGS
FONT 9, FONT_NAME
BEGIN
    CONTROL         "List",IDC_SETTINGSCATLIST,"SysListView32",
                    LVS_LIST | LVS_SHOWSELALWAYS | LVS_SINGLESEL | 
                    WS_BORDER | WS_TABSTOP,7,7,90,207

    CONTROL         "",-1,"Static",SS_BLACKFRAME | SS_SUNKEN,1,221,363,1

    DEFPUSHBUTTON   STR_OK,IDOK,246,230,50,14
    PUSHBUTTON      STR_CANCEL,IDCANCEL,307,230,50,14
END

DLG_CFG_MACHINE DIALOG 97, 0, 267, 114
STYLE DS_CONTROL | WS_CHILD
FONT 9, FONT_NAME
BEGIN
    LTEXT           STR_3325,IDT_1701,7,8,60,10
    COMBOBOX        IDC_COMBO_MACHINE,71,7,138,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_MACHINE,214,7,46,12

    LTEXT           STR_3326,IDT_1702,7,26,59,10
    COMBOBOX        IDC_COMBO_CPU_TYPE,71,25,45,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_3327,IDT_1704,124,26,40,10
    COMBOBOX        IDC_COMBO_CPU,170,25,90,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_3328,IDT_1703,7,45,60,10
    COMBOBOX        IDC_COMBO_WS,71,44,189,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_3329,IDT_1706,7,64,30,10
    EDITTEXT        IDC_MEMTEXT,70,63,45,12,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_MEMSPIN,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS |
                    UDS_NOTHOUSANDS,
                    113,63,12,12
    LTEXT           STR_3330,IDT_1705,123,64,10,10

    CONTROL         STR_3331,IDC_CHECK_SYNC,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,81,102,10

    CONTROL         STR_3332,IDC_CHECK_FPU,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,147,81,113,10

#ifdef USE_DYNAREC
    CONTROL         STR_3333,IDC_CHECK_DYNAREC,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,96,120,10
#endif
END

DLG_CFG_VIDEO DIALOG 97, 0, 267, 63
STYLE DS_CONTROL | WS_CHILD
FONT 9, FONT_NAME
BEGIN
    LTEXT           STR_3350,IDT_1707,7,8,55,10
    COMBOBOX        IDC_COMBO_VIDEO,71,7,140,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_VID,214,7,46,12

    LTEXT           STR_3351,IDT_1708,7,26,58,10
    COMBOBOX        IDC_COMBO_VIDEO_SPEED,71,25,189,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         STR_3352,IDC_CHECK_VOODOO,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,45,199,10
    PUSHBUTTON      STR_CONFIGURE,IDC_BUTTON_VOODOO,214,44,46,12
END

DLG_CFG_INPUT DIALOG 97, 0, 267, 65
STYLE DS_CONTROL | WS_CHILD
FONT 9, FONT_NAME
BEGIN
    LTEXT           STR_3375,IDT_1709,7,8,57,10
    COMBOBOX        IDC_COMBO_MOUSE,71,7,140,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_MOUSE,214,7,46,12

    LTEXT           STR_3376,IDT_1710,7,26,58,10
    COMBOBOX        IDC_COMBO_JOYSTICK,71,25,189,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    PUSHBUTTON      STR_3377,IDC_JOY1,7,44,60,14
    PUSHBUTTON      STR_3378,IDC_JOY2,72,44,60,14
    PUSHBUTTON      STR_3379,IDC_JOY3,137,44,60,14
    PUSHBUTTON      STR_3380,IDC_JOY4,202,44,60,14
END

DLG_CFG_SOUND DIALOG 97, 0, 267, 116
STYLE DS_CONTROL | WS_CHILD
FONT 9, FONT_NAME
BEGIN
    LTEXT           STR_3400,IDT_1711,7,8,59,10
    COMBOBOX        IDC_COMBO_SOUND,71,7,140,120,
		    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_SND,214,7,46,12

    LTEXT           STR_3401,IDT_1712,7,26,59,10
    COMBOBOX        IDC_COMBO_MIDI,71,25,140,120,
		    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_MIDI,214,25,46,12

    CONTROL         STR_3402,IDC_CHECK_MPU401,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,45,199,10
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_MPU401,214,44,46,12

    CONTROL         STR_3403,IDC_CHECK_NUKEDOPL,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,63,120,10

    CONTROL         STR_3404,IDC_CHECK_FLOAT,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,81,120,10
END

DLG_CFG_NETWORK DIALOG 97, 0, 267, 63
STYLE DS_CONTROL | WS_CHILD
FONT 9, FONT_NAME
BEGIN
    LTEXT           STR_3425,IDT_1713,7,8,59,10
    COMBOBOX        IDC_COMBO_NET_TYPE,71,7,189,120,
		    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_3426,IDT_1714,7,26,59,10
    COMBOBOX        IDC_COMBO_PCAP,71,25,189,120,
		    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_3427,IDT_1715,7,44,59,10
    COMBOBOX        IDC_COMBO_NET,71,43,140,120,
		    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_NET,214,43,46,14
END

DLG_CFG_PORTS DIALOG 97, 0, 267, 120
STYLE DS_CONTROL | WS_CHILD
FONT 9, FONT_NAME
BEGIN
    CONTROL         STR_3450,IDC_CHECK_GAME,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,8,110,10

    CONTROL         STR_3451,IDC_CHECK_PARALLEL1,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,27,110,10
    COMBOBOX        IDC_COMBO_PARALLEL1,120,26,140,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         STR_3452,IDC_CHECK_PARALLEL2,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,46,110,10
    COMBOBOX        IDC_COMBO_PARALLEL2,120,45,140,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         STR_3453,IDC_CHECK_PARALLEL3,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,65,110,10
    COMBOBOX        IDC_COMBO_PARALLEL3,120,64,140,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         STR_3454,IDC_CHECK_SERIAL1,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,88,110,10

    CONTROL         STR_3455,IDC_CHECK_SERIAL2,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,107,110,10
END

DLG_CFG_PERIPHERALS DIALOG 97, 0, 267, 180
STYLE DS_CONTROL | WS_CHILD
FONT 9, FONT_NAME
BEGIN
    LTEXT           STR_3475,IDT_1716,7,8,59,10
    COMBOBOX        IDC_COMBO_SCSI,71,7,140,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_SCSI,214,7,46,12

    LTEXT           STR_3476,IDT_1717,7,26,61,10
    COMBOBOX        IDC_COMBO_HDC,71,25,140,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_HDC,214,25,46,12

    LTEXT           STR_3477,IDT_1718,7,44,61,10
    COMBOBOX        IDC_COMBO_IDE_TER,71,43,189,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_3478,IDT_1719,7,62,61,10
    COMBOBOX        IDC_COMBO_IDE_QUA,71,61,189,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         STR_3479,IDC_CHECK_BUGGER,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,80,94,10

    GROUPBOX        "ISA Memory Expansion",IDC_GROUP_ISAMEM,7,99,255,70
    LTEXT           "#1:",IDT_1763,12,111,21,10
    COMBOBOX        IDC_COMBO_ISAMEM_1,25,110,180,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_ISAMEM_1,209,110,46,12
    LTEXT           "#2:",IDT_1764,12,125,21,10
    COMBOBOX        IDC_COMBO_ISAMEM_2,25,124,180,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_ISAMEM_2,209,124,46,12
    LTEXT           "#3:",IDT_1765,12,139,21,10
    COMBOBOX        IDC_COMBO_ISAMEM_3,25,138,180,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_ISAMEM_3,209,138,46,12
    LTEXT           "#4:",IDT_1766,12,153,21,10
    COMBOBOX        IDC_COMBO_ISAMEM_4,25,152,180,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_ISAMEM_4,209,152,46,12
END

DLG_CFG_DISK DIALOG 97, 0, 267, 154
STYLE DS_CONTROL | WS_CHILD
FONT 9, FONT_NAME
BEGIN
    LTEXT           STR_3500,IDT_1720,7,7,80,8

    CONTROL         "List1",IDC_LIST_HARD_DISKS,"SysListView32",
                    LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SINGLESEL |
                    WS_BORDER | WS_TABSTOP,7,18,253,92

    LTEXT           STR_BUS,IDT_1721,7,119,24,8
    COMBOBOX        IDC_COMBO_HD_BUS,33,117,90,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_CHANNEL,IDT_1722,131,119,38,8
    COMBOBOX        IDC_COMBO_HD_CHANNEL_IDE,170,117,90,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_HD_CHANNEL,170,117,90,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           STR_ID,IDT_1723,131,119,38,8
    COMBOBOX        IDC_COMBO_HD_ID,170,117,22,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           STR_LUN,IDT_1724,200,119,38,8
    COMBOBOX        IDC_COMBO_HD_LUN,239,117,22,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    PUSHBUTTON      STR_3501,IDC_BUTTON_HDD_ADD_NEW,32,137,70,12
    PUSHBUTTON      STR_3502,IDC_BUTTON_HDD_ADD,110,137,70,12
    PUSHBUTTON      STR_3503,IDC_BUTTON_HDD_REMOVE,190,137,70,12
END

DLG_CFG_DISK_ADD DIALOG 0, 0, 219, 111
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION STR_3525
FONT 9, FONT_NAME
BEGIN
    LTEXT           STR_FILENAME,IDT_1731,7,7,204,9
    EDITTEXT        IDC_EDIT_HD_FILE_NAME,7,16,148,12
    PUSHBUTTON      STR_BROWSE,IDC_CFILE,162,16,50,12

    LTEXT           STR_3528,IDT_1728,7,35,32,12
    EDITTEXT        IDC_EDIT_HD_CYL,42,34,28,12
    LTEXT           STR_3529,IDT_1727,81,35,29,8
    EDITTEXT        IDC_EDIT_HD_HPC,112,34,28,12
    LTEXT           STR_3530,IDT_1726,154,35,27,10
    EDITTEXT        IDC_EDIT_HD_SPT,183,34,28,12

    LTEXT           STR_3531,IDT_1729,7,54,33,8
    EDITTEXT        IDC_EDIT_HD_SIZE,42,52,28,12

    LTEXT           STR_3532,IDT_1730,86,54,24,8
    COMBOBOX        IDC_COMBO_HD_TYPE,113,52,98,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_BUS,IDT_1721,7,73,24,8
    COMBOBOX        IDC_COMBO_HD_BUS,33,71,58,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_CHANNEL,IDT_1722,99,73,34,8
    COMBOBOX        IDC_COMBO_HD_CHANNEL,134,71,77,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_ID,IDT_1723,117,73,15,8
    COMBOBOX        IDC_COMBO_HD_ID,133,71,26,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           STR_LUN,IDT_1724,168,73,15,8
    COMBOBOX        IDC_COMBO_HD_LUN,185,71,26,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           STR_PROGRESS,IDT_1752,7,7,204,9
    COMBOBOX        IDC_COMBO_HD_CHANNEL_IDE,134,71,77,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         "CreateProgress",IDC_PBAR_IMG_CREATE,"msctls_progress32",
                    PBS_SMOOTH | WS_BORDER,7,16,204,12

    DEFPUSHBUTTON   STR_OK,IDOK,55,89,50,14
    PUSHBUTTON      STR_CANCEL,IDCANCEL,112,89,50,14
END

DLG_CFG_FLOPPY DIALOG 97, 0, 267, 103
STYLE DS_CONTROL | WS_CHILD
FONT 9, FONT_NAME
BEGIN
    LTEXT           STR_3550,IDT_1737,7,7,80,8
    CONTROL         "List1",IDC_LIST_FLOPPY_DRIVES,"SysListView32",
                    LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SINGLESEL |
                    WS_BORDER | WS_TABSTOP,7,18,253,60

    LTEXT           STR_3551,IDT_1738,7,87,70,8
    COMBOBOX        IDC_COMBO_FD_TYPE,33,85,90,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         STR_3552,IDC_CHECKTURBO,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,131,86,64,10

    CONTROL         STR_3553,IDC_CHECKBPB,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,196,86,64,10
END

DLG_CFG_RMV_DEVICES DIALOG 97, 0, 267, 221
STYLE DS_CONTROL | WS_CHILD
FONT 9, FONT_NAME
BEGIN
    LTEXT           STR_3575,IDT_1739,7,7,80,8
    CONTROL         "List1",IDC_LIST_CDROM_DRIVES,"SysListView32",
                    LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SINGLESEL |
                    WS_BORDER | WS_TABSTOP,7,18,253,60

    LTEXT           STR_BUS,IDT_1740,7,87,34,8
    COMBOBOX        IDC_COMBO_CD_BUS,43,85,80,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_CHANNEL,IDT_1743,141,87,20,8
    COMBOBOX        IDC_COMBO_CD_CHANNEL_IDE,180,85,80,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_ID,IDT_1741,141,87,20,8
    COMBOBOX        IDC_COMBO_CD_ID,165,85,22,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_LUN,IDT_1742,200,87,20,8
    COMBOBOX        IDC_COMBO_CD_LUN,235,85,22,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_3576,IDT_1761,7,107,34,8
    COMBOBOX        IDC_COMBO_CD_SPEED,43,105,80,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_3577,IDT_1762,7,127,80,8
    CONTROL         "List2",IDC_LIST_ZIP_DRIVES,"SysListView32",
                    LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SINGLESEL |
                    WS_BORDER | WS_TABSTOP,7,137,253,60

    CONTROL         STR_3578,IDC_CHECK250,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,204,34,10

    LTEXT           STR_BUS,IDT_1753,50,206,25,8
    COMBOBOX        IDC_COMBO_ZIP_BUS,80,204,70,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_CHANNEL,IDT_1756,170,206,30,8
    COMBOBOX        IDC_COMBO_ZIP_CHANNEL_IDE,210,204,50,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_ID,IDT_1754,165,206,20,8
    COMBOBOX        IDC_COMBO_ZIP_ID,185,204,20,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_LUN,IDT_1755,210,206,20,8
    COMBOBOX        IDC_COMBO_ZIP_LUN,235,204,20,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END


/* Common strings (2000.) */
#ifdef STR_VERSION
STRINGTABLE
BEGIN
    IDS_VERSION		STR_VERSION
    IDS_AUTHOR		STR_AUTHOR
    IDS_EMAIL		STR_EMAIL
END
#endif

/* Messagebox classes (2100.) */
STRINGTABLE
BEGIN
    IDS_ERROR		STR_2100
    IDS_FATAL_ERROR	STR_2101
    IDS_CONFIG_ERROR	STR_2102
    IDS_WARNING		STR_2103
END

/* System errors (2200.) */
STRINGTABLE
BEGIN
    IDS_ERR_ACCEL	STR_2200
    IDS_ERR_INPUT	STR_2201
    IDS_ERR_PCAP	STR_2202
    IDS_ERR_PCAP_NO	STR_2203
    IDS_ERR_PCAP_DEV	STR_2204
    IDS_ERR_OPENAL	STR_2205
    IDS_ERR_FSYNTH	STR_2206
END

/* Application error messages (2300.) */
STRINGTABLE
BEGIN
    IDS_ERR_SCRSHOT	STR_2300
    IDS_ERR_NOROMS	STR_2301
    IDS_ERR_NOCONF	STR_2302
    IDS_ERR_NOMACH	STR_2303
    IDS_ERR_NOVIDEO	STR_2304
    IDS_ERR_NORENDR	STR_2305
    IDS_ERR_NOCDROM	STR_2306
    IDS_ERR_NO_USB	STR_2307
END

/* Application messages (2400.) */
STRINGTABLE
BEGIN
    IDS_MSG_SAVE	STR_2400
    IDS_MSG_RESTART	STR_2401
    IDS_MSG_UNSTABL	STR_2402
    IDS_MSG_CAPTURE	STR_2403
    IDS_MSG_MRLS_1	STR_2404
    IDS_MSG_MRLS_2	STR_2405
    IDS_MSG_WINDOW	STR_2406
END

/* Misc application strings (2500.) */
STRINGTABLE
BEGIN
    IDS_2500		STR_2500
END


/* UI: common elements (3000.) */
STRINGTABLE
BEGIN
    IDS_OK		STR_OK
    IDS_CANCEL		STR_CANCEL
    IDS_CONFIGURE	STR_CONFIGURE
    IDS_BROWSE		STR_BROWSE
END

/* UI: dialog shared strings (3100.) */
STRINGTABLE
BEGIN
    IDS_NONE		STR_NONE
    IDS_DISABLED	STR_DISABLED
    IDS_ENABLED		STR_ENABLED
    IDS_OFF		STR_OFF
    IDS_ON		STR_ON
    IDS_TYPE		STR_TYPE
    IDS_FILENAME	STR_FILENAME
    IDS_PROGRESS	STR_PROGRESS
    IDS_BUS		STR_BUS
    IDS_CHANNEL		STR_CHANNEL
    IDS_ID		STR_ID
    IDS_LUN		STR_LUN
    IDS_INV_NAME	STR_INV_NAME
    IDS_IMG_EXIST	STR_IMG_EXIST
    IDS_OPEN_READ	STR_OPEN_READ
    IDS_OPEN_WRITE	STR_OPEN_WRITE
END

/* UI: dialog: About (3200.) */

/* UI dialog: Status (3225.) */

/* UI dialog: Sound Gain (3250.) */

/* UI dialog: New Image (3275.) */
STRINGTABLE
BEGIN
    IDS_3278		STR_3278
    IDS_3279		STR_3279
    IDS_3280		STR_3280
    IDS_3281		STR_3281
    IDS_3282		STR_3282
    IDS_3283		STR_3283
    IDS_3284		STR_3284
    IDS_3285		STR_3285
    IDS_3286		STR_3286
    IDS_3287		STR_3287
    IDS_3288		STR_3288
    IDS_3289		STR_3289
    IDS_3290		STR_3290
    IDS_3291		STR_3291
    IDS_3292		STR_3292
    IDS_3293		STR_3293
    IDS_3294		STR_3294
    IDS_3295		STR_3295
END

/* UI dialog: Settings (3300.) */
STRINGTABLE
BEGIN
    IDS_3310		STR_3310
    IDS_3311		STR_3311
    IDS_3312		STR_3312
    IDS_3313		STR_3313
    IDS_3314		STR_3314
    IDS_3315		STR_3315
    IDS_3316		STR_3316
    IDS_3317		STR_3317
    IDS_3318		STR_3318
    IDS_3319		STR_3319
END

/* UI dialog: Settings (Machine, 3325.) */
STRINGTABLE
BEGIN
    IDS_3330		STR_3330
    IDS_3334		STR_3334
    IDS_3335		STR_3335
END

/* UI dialog: Settings (Video, 3350.) */
STRINGTABLE
BEGIN
    IDS_3353		STR_3353
    IDS_3354		STR_3354
    IDS_3355		STR_3355
    IDS_3356		STR_3356
    IDS_3357		STR_3357
    IDS_3358		STR_3358
    IDS_3359		STR_3359
END

/* UI dialog: Settings (Input, 3375.) */

/* UI dialog: Settings (Sound, 3400.) */

/* UI dialog: Settings (Network, 3425.) */

/* UI dialog: Settings (Ports, 3450.) */

/* UI dialog: Settings (Other Devices, 3475.) */

/* UI dialog: Settings (Hard Disks, 3500.) */
STRINGTABLE
BEGIN
    IDS_3504		STR_3504
    IDS_3505		STR_3505
    IDS_3506		STR_3506
    IDS_3507		STR_3507
    IDS_3508		STR_3508
    IDS_3509		STR_3509
    IDS_3510		STR_3510
    IDS_3511		STR_3511
    IDS_3512		STR_3512
    IDS_3515		STR_3515
    IDS_3516		STR_3516
    IDS_3517		STR_3517
    IDS_3518		STR_3518
    IDS_3519		STR_3519
    IDS_3520		STR_3520
END

/* UI dialog: Settings (Add Hard Disk, 3525.) */
STRINGTABLE
BEGIN
    IDS_3526		STR_3526
    IDS_3527		STR_3527
    IDS_3533		STR_3533
    IDS_3534		STR_3534
    IDS_3535		STR_3535
    IDS_3536		STR_3536
    IDS_3537		STR_3537
END

/* UI dialog: Settings (Floppy Drives, 3550.) */
STRINGTABLE
BEGIN
    IDS_3554		STR_3554
    IDS_3555		STR_3555
END

/* UI dialog: Settings (Removable Devices, 3575.) */
STRINGTABLE
BEGIN
    IDS_3579		STR_3579
    IDS_3580		STR_3580
    IDS_3581		STR_3581
    IDS_3582		STR_3582
    IDS_3583		STR_3583
    IDS_3584		STR_3584
END

/* UI dialog: status bar (3900.) */
STRINGTABLE
BEGIN
    IDS_3900		STR_3900
    IDS_3901		STR_3901
    IDS_3902		STR_3902
    IDS_3903		STR_3903
    IDS_3904		STR_3904
    IDS_3905		STR_3905
    IDS_3906		STR_3906
    IDS_3910		STR_3910
    IDS_3911		STR_3911
    IDS_3912		STR_3912
    IDS_3913		STR_3913
    IDS_3914		STR_3914
    IDS_3920		STR_3920
    IDS_3921		STR_3921
    IDS_3922		STR_3922
    IDS_3923		STR_3923
    IDS_3930		STR_3930
    IDS_3940		STR_3940
    IDS_3941		STR_3941
    IDS_3950		STR_3950
    IDS_3951		STR_3951
    IDS_3952		STR_3952
    IDS_3960		STR_3960
    IDS_3970		STR_3970
END
