/*
 * VARCem	Virtual ARchaeological Computer EMulator.
 *		An emulator of (mostly) x86-based PC systems and devices,
 *		using the ISA,EISA,VLB,MCA  and PCI system buses, roughly
 *		spanning the era between 1981 and 1995.
 *
 *		This file is part of the VARCem Project.
 *
 *		Common resources for the application.
 *
 * Version:	@(#)VARCem-common.rc	1.0.14	2020/07/17
 *
 * Author:	Fred N. van Kempen, <decwiz@yahoo.com>
 *
 *		Copyright 2017-2020 Fred N. van Kempen.
 *
 *		Redistribution and  use  in source  and binary forms, with
 *		or  without modification, are permitted  provided that the
 *		following conditions are met:
 *
 *		1. Redistributions of  source  code must retain the entire
 *		   above notice, this list of conditions and the following
 *		   disclaimer.
 *
 *		2. Redistributions in binary form must reproduce the above
 *		   copyright  notice,  this list  of  conditions  and  the
 *		   following disclaimer in  the documentation and/or other
 *		   materials provided with the distribution.
 *
 *		3. Neither the  name of the copyright holder nor the names
 *		   of  its  contributors may be used to endorse or promote
 *		   products  derived from  this  software without specific
 *		   prior written permission.
 *
 * THIS SOFTWARE  IS  PROVIDED BY THE  COPYRIGHT  HOLDERS AND CONTRIBUTORS
 * "AS IS" AND  ANY EXPRESS  OR  IMPLIED  WARRANTIES,  INCLUDING, BUT  NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
 * PARTICULAR PURPOSE  ARE  DISCLAIMED. IN  NO  EVENT  SHALL THE COPYRIGHT
 * HOLDER OR  CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL,  EXEMPLARY,  OR  CONSEQUENTIAL  DAMAGES  (INCLUDING,  BUT  NOT
 * LIMITED TO, PROCUREMENT OF SUBSTITUTE  GOODS OR SERVICES;  LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED  AND ON  ANY
 * THEORY OF  LIABILITY, WHETHER IN  CONTRACT, STRICT  LIABILITY, OR  TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING  IN ANY  WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

#ifdef _MSC_VER
# define MENUSEPARATOR	MENUITEM "" , , MFT_SEPARATOR
#else
# define MENUSEPARATOR	MENUITEM SEPARATOR
#endif

//#define _MKSTR(...)	#__VA_ARGS__
//#define _CATSTR(a,b,...)	_MKSTR(a ## b)

#define FONT_NAME	"Segoe UI"


MainMenu MENUEX
BEGIN
    POPUP STR_ACTION
    BEGIN
        MENUITEM STR_4001,IDM_RESET_HARD
        MENUITEM STR_4002,IDM_RESET
	MENUSEPARATOR
	MENUITEM STR_4003,IDM_CAE
	MENUITEM STR_4004,IDM_CAB
        MENUSEPARATOR
        MENUITEM STR_4005,IDM_PAUSE
        MENUSEPARATOR
	MENUITEM STR_4014,IDM_RCTRL_IS_LALT
        MENUSEPARATOR
        MENUITEM STR_4006,IDM_EXIT
    END

    POPUP STR_VIEW
    BEGIN
        MENUITEM STR_4011,IDM_RESIZE
        MENUITEM STR_4012,IDM_REMEMBER
        MENUSEPARATOR
        POPUP STR_4020,IDM_RENDER
        BEGIN
            MENUSEPARATOR
        END
        MENUSEPARATOR
        POPUP STR_4030
        BEGIN
            MENUITEM STR_4031,IDM_SCALE_1
            MENUITEM STR_4032,IDM_SCALE_2
            MENUITEM STR_4033,IDM_SCALE_3
            MENUITEM STR_4034,IDM_SCALE_4
        END
        MENUSEPARATOR
        MENUITEM STR_4013,IDM_FULLSCREEN
        POPUP STR_4040
        BEGIN
            MENUITEM STR_4041,IDM_STRETCH
            MENUITEM STR_4042,IDM_STRETCH_43
            MENUITEM STR_4045,IDM_STRETCH_KEEP
            MENUITEM STR_4044,IDM_STRETCH_INT
        END
    END

    POPUP STR_DISPLAY
    BEGIN
        MENUITEM STR_4051,IDM_INVERT
        MENUITEM STR_4052,IDM_OVERSCAN
        POPUP STR_DISPTYPE
        BEGIN
            MENUITEM STR_4061,IDM_SCREEN_RGB
            MENUITEM STR_4062,IDM_SCREEN_GRAYSCALE
            MENUITEM STR_4063,IDM_SCREEN_AMBER
            MENUITEM STR_4064,IDM_SCREEN_GREEN
            MENUITEM STR_4065,IDM_SCREEN_WHITE
        END
        POPUP STR_GRAYSCALE
        BEGIN
            MENUITEM STR_4071,IDM_GRAY_601
            MENUITEM STR_4072,IDM_GRAY_709
            MENUITEM STR_4073,IDM_GRAY_AVE
        END
        MENUSEPARATOR
        MENUITEM STR_4053,IDM_FORCE_43
        MENUITEM STR_4054,IDM_CGA_CONTR
    END

    POPUP STR_TOOLS
    BEGIN
        MENUITEM STR_4081,IDM_SETTINGS
	POPUP STR_4082,IDM_LANGUAGE
        BEGIN
            MENUSEPARATOR
        END
        MENUSEPARATOR
#ifdef _LOGGING
	POPUP STR_4083,IDM_LOGGING
	BEGIN
# if 0
	    MENUITEM CATSTR(STR_4084,"\tCtrl+Insert"), IDM_LOG_BREAKPOINT
# else
	    MENUITEM STR_4084, IDM_LOG_BREAKPOINT
# endif
	    MENUSEPARATOR
	END
#endif
        MENUITEM STR_4086,IDM_LOAD
        MENUITEM STR_4087,IDM_SAVE
	MENUSEPARATOR
        MENUITEM STR_4088,IDM_SCREENSHOT
    END

    POPUP STR_HELP
    BEGIN
        MENUITEM STR_4091,IDM_ABOUT
        MENUITEM STR_LOCALIZE,IDM_LOCALIZE
    END
END

StatusBarMenu MENU
BEGIN
    MENUITEM SEPARATOR
END


DLG_LOCALIZE DIALOG 0, 0, 200, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION STR_LOCALIZE
FONT 9, FONT_NAME
BEGIN
    LTEXT           STR_3211,IDT_LOCALIZE,10,10,125,36

    LISTBOX         IDC_LOCALIZE,10,40,125,70,
                    WS_BORDER | WS_VSCROLL | LBS_SORT

    ICON            100,IDC_ABOUT_ICON,150,30,65,65

    DEFPUSHBUTTON   STR_OK,IDOK,145,90,50,14

    LTEXT           "",IDT_LOCALIZE+1,10,110,20,12
    LTEXT           "",IDT_LOCALIZE+2,35,110,160,12
END


DLG_ABOUT DIALOG 0, 0, 250, 160
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION STR_ABOUT
FONT 9, FONT_NAME
BEGIN
    ICON            100,IDC_ABOUT_ICON,5,5,20,20

    CTEXT           "",IDT_TITLE,55,5,195,20

    CTEXT           STR_TITLE,IDC_ABOUT_ICON,55,22,195,10
    CTEXT           "",IDT_VERSION,55,33,195,10

    CONTROL         "",IDC_ABOUT_ICON,"Static",
                    SS_BLACKFRAME | SS_SUNKEN,10,45,230,1

    LTEXT           STR_3201,IDC_ABOUT_ICON,5,55,40,10
    LTEXT           STR_3202,IDC_ABOUT_ICON,50,55,195,30
    LTEXT           STR_3203,IDC_ABOUT_ICON,5,85,240,30

    LTEXT           STR_3204,IDC_ABOUT_ICON,5,115,240,10

    PUSHBUTTON      STR_LOCALIZE,IDC_LOCALIZE,5,140,60,14

    DEFPUSHBUTTON   STR_OK,IDOK,75,140,60,14

    CONTROL         "",IDC_DONATE,"Static",SS_BITMAP|SS_NOTIFY,175,130,105,50
END


DLG_SND_GAIN DIALOG 0, 0, 113, 136
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION STR_SNDGAIN
FONT 9, FONT_NAME
BEGIN
    CTEXT           STR_3251,IDT_1746,16,7,32,9,SS_CENTERIMAGE

    CONTROL         "Gain",IDC_SLIDER_GAIN,"msctls_trackbar32",
                    TBS_VERT | TBS_BOTH | TBS_AUTOTICKS | WS_TABSTOP,
                    15,20,30,109

    DEFPUSHBUTTON   STR_OK,IDOK,57,7,50,14
    PUSHBUTTON      STR_CANCEL,IDCANCEL,57,24,50,14
END


DLG_NEW_FLOPPY DIALOG 0, 0, 226, 95
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION STR_NEWIMG
FONT 9, FONT_NAME
BEGIN
    LTEXT           STR_FILENAME,IDT_1749,7,6,90,12,SS_CENTERIMAGE
    EDITTEXT        IDC_EDIT_FILE_NAME,7,20,150,14,
                    ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      STR_BROWSE,IDC_CFILE,160,19,60,14

    LTEXT           STR_3276,IDT_1750,7,38,70,12,SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_DISK_SIZE,7,52,90,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_3277,IDT_1751,110,38,70,12,SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_RPM_MODE,110,52,110,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_PROGRESS,IDT_1757,7,6,70,12,SS_CENTERIMAGE
    CONTROL         "CreateProgress",IDC_PBAR_IMG_CREATE,"msctls_progress32",
                    PBS_SMOOTH | WS_BORDER,7,20,166,14

    DEFPUSHBUTTON   STR_OK,IDOK,55,75,50,14
    PUSHBUTTON      STR_CANCEL,IDCANCEL,130,75,50,14
END


DLG_CONFIG DIALOG 0, 0, 366, 251
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION STR_SETTINGS
FONT 9, FONT_NAME
BEGIN
    CONTROL         "List",IDC_SETTINGSCATLIST,"SysListView32",
                    LVS_LIST | LVS_SHOWSELALWAYS | LVS_SINGLESEL | 
                    WS_BORDER | WS_TABSTOP,7,7,90,207

    CONTROL         "",-1,"Static",SS_BLACKFRAME | SS_SUNKEN,1,221,363,1

    DEFPUSHBUTTON   STR_OK,IDOK,246,230,50,14
    PUSHBUTTON      STR_CANCEL,IDCANCEL,307,230,50,14
END

DLG_CFG_MACHINE DIALOG 97, 0, 267, 200
STYLE DS_CONTROL | WS_CHILD
FONT 9, FONT_NAME
BEGIN
    LTEXT           STR_3325,IDT_1701,7,8,60,10
    COMBOBOX        IDC_COMBO_MACHINE,71,7,138,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_MACHINE,214,7,46,12

    LTEXT           STR_3326,IDT_1702,7,26,59,10
    COMBOBOX        IDC_COMBO_CPU_TYPE,71,25,45,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_3327,IDT_1704,124,26,40,10
    COMBOBOX        IDC_COMBO_CPU,170,25,90,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_3328,IDT_1703,7,45,60,10
    COMBOBOX        IDC_COMBO_WS,71,44,189,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_3329,IDT_1706,7,64,30,10
    EDITTEXT        IDC_MEMTEXT,70,63,45,12,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_MEMSPIN,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS |
                    UDS_NOTHOUSANDS,
                    113,63,12,12
    LTEXT           STR_3330,IDT_1705,123,64,10,10

    LTEXT           STR_3331,IDT_1708,7,81,60,10
    COMBOBOX        IDC_COMBO_SYNC,71,80,100,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         STR_3332,IDC_CHECK_FPU,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,96,113,10

#ifdef USE_DYNAREC
    CONTROL         STR_3333,IDC_CHECK_DYNAREC,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,111,120,10
#endif
END

DLG_CFG_VIDEO DIALOG 97, 0, 267, 200
STYLE DS_CONTROL | WS_CHILD
FONT 9, FONT_NAME
BEGIN
    LTEXT           STR_3350,IDT_1707,7,8,55,10
    COMBOBOX        IDC_COMBO_VIDEO,71,7,140,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_VIDEO,214,7,46,12

    CONTROL         STR_3351,IDC_CHECK_VOODOO,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,27,199,10
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_VOODOO,214,26,46,12
END

DLG_CFG_INPUT DIALOG 97, 0, 267, 200
STYLE DS_CONTROL | WS_CHILD
FONT 9, FONT_NAME
BEGIN
    LTEXT           STR_3375,IDT_1709,7,8,57,10
    COMBOBOX        IDC_COMBO_MOUSE,71,7,140,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_MOUSE,214,7,46,12

    LTEXT           STR_3376,IDT_1710,7,26,58,10
    COMBOBOX        IDC_COMBO_JOYSTICK,71,25,189,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_3377,IDC_CONFIGURE_JOY1,7,44,60,14
    PUSHBUTTON      STR_3378,IDC_CONFIGURE_JOY2,72,44,60,14
    PUSHBUTTON      STR_3379,IDC_CONFIGURE_JOY3,137,44,60,14
    PUSHBUTTON      STR_3380,IDC_CONFIGURE_JOY4,202,44,60,14
END

DLG_CFG_SOUND DIALOG 97, 0, 267, 200
STYLE DS_CONTROL | WS_CHILD
FONT 9, FONT_NAME
BEGIN
    LTEXT           STR_3400,IDT_1711,7,8,59,10
    COMBOBOX        IDC_COMBO_SOUND,71,7,140,120,
		    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_SOUND,214,7,46,12

    LTEXT           STR_3401,IDT_1712,7,26,59,10
    COMBOBOX        IDC_COMBO_MIDI,71,25,140,120,
		    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_MIDI,214,25,46,12

    CONTROL         STR_3402,IDC_CHECK_MPU401,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,45,199,10
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_MPU401,214,44,46,12

    CONTROL         STR_3403,IDC_CHECK_FLOAT,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,63,120,10
END

DLG_CFG_NETWORK DIALOG 97, 0, 267, 200
STYLE DS_CONTROL | WS_CHILD
FONT 9, FONT_NAME
BEGIN
    LTEXT           STR_3425,IDT_1713,7,8,59,10
    COMBOBOX        IDC_COMBO_NET_TYPE,71,7,189,120,
		    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_3426,IDT_1714,7,26,59,10
    COMBOBOX        IDC_COMBO_PCAP,71,25,189,120,
		    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_3427,IDT_1715,7,44,59,10
    COMBOBOX        IDC_COMBO_NET_CARD,71,43,140,120,
		    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_NET_CARD,214,43,46,14
END

DLG_CFG_PORTS DIALOG 97, 0, 267, 200
STYLE DS_CONTROL | WS_CHILD
FONT 9, FONT_NAME
BEGIN
    CONTROL         STR_3450,IDC_CHECK_GAME,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,8,110,10

    CONTROL         STR_3451,IDC_CHECK_PARALLEL1,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,27,110,10
    COMBOBOX        IDC_COMBO_PARALLEL1,120,26,140,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         STR_3452,IDC_CHECK_PARALLEL2,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,46,110,10
    COMBOBOX        IDC_COMBO_PARALLEL2,120,45,140,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         STR_3453,IDC_CHECK_PARALLEL3,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,65,110,10
    COMBOBOX        IDC_COMBO_PARALLEL3,120,64,140,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         STR_3454,IDC_CHECK_SERIAL1,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,88,110,10

    CONTROL         STR_3455,IDC_CHECK_SERIAL2,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,107,110,10
END

DLG_CFG_PERIPHERALS DIALOG 97, 0, 267, 200
STYLE DS_CONTROL | WS_CHILD
FONT 9, FONT_NAME
BEGIN
    LTEXT           STR_3475,IDT_1716,7,8,59,10
    COMBOBOX        IDC_COMBO_SCSI,71,7,140,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_SCSI,214,7,46,12

    LTEXT           STR_3476,IDT_1717,7,26,61,10
    COMBOBOX        IDC_COMBO_HDC,71,25,140,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_HDC,214,25,46,12

    CONTROL         STR_3477,IDC_CHECK_IDE_TER,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,44,199,10
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_IDE_TER,214,43,46,12

    CONTROL         STR_3478,IDC_CHECK_IDE_QUA,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,62,199,10
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_IDE_QUA,214,61,46,12

    CONTROL         STR_3479,IDC_CHECK_BUGGER,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,80,94,10

    LTEXT           STR_3481,IDT_1767,7,99,61,10
    COMBOBOX        IDC_COMBO_ISARTC,71,98,140,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_ISARTC,214,98,46,12

    GROUPBOX        STR_3480,IDC_GROUP_ISAMEM,7,118,255,70
    LTEXT           "#1:",IDT_1763,12,130,21,10
    COMBOBOX        IDC_COMBO_ISAMEM_1,25,129,180,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_ISAMEM_1,209,129,46,12
    LTEXT           "#2:",IDT_1764,12,144,21,10
    COMBOBOX        IDC_COMBO_ISAMEM_2,25,143,180,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_ISAMEM_2,209,143,46,12
    LTEXT           "#3:",IDT_1765,12,158,21,10
    COMBOBOX        IDC_COMBO_ISAMEM_3,25,157,180,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_ISAMEM_3,209,157,46,12
    LTEXT           "#4:",IDT_1766,12,172,21,10
    COMBOBOX        IDC_COMBO_ISAMEM_4,25,171,180,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      STR_CONFIGURE,IDC_CONFIGURE_ISAMEM_4,209,171,46,12
END

DLG_CFG_DISK DIALOG 97, 0, 267, 200
STYLE DS_CONTROL | WS_CHILD
FONT 9, FONT_NAME
BEGIN
    LTEXT           STR_3500,IDT_1720,7,7,80,8

    CONTROL         "List1",IDC_LIST_HARD_DISKS,"SysListView32",
                    LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SINGLESEL |
                    WS_BORDER | WS_TABSTOP,7,18,253,92

    LTEXT           STR_BUS,IDT_1721,7,119,24,8
    COMBOBOX        IDC_COMBO_HD_BUS,33,117,90,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_CHANNEL,IDT_1722,131,119,38,8
    COMBOBOX        IDC_COMBO_HD_CHANNEL_IDE,170,117,90,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_HD_CHANNEL,170,117,90,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           STR_ID,IDT_1723,131,119,38,8
    COMBOBOX        IDC_COMBO_HD_ID,170,117,22,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           STR_LUN,IDT_1724,200,119,38,8
    COMBOBOX        IDC_COMBO_HD_LUN,239,117,22,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    PUSHBUTTON      STR_3501,IDC_BUTTON_HDD_ADD_NEW,32,137,70,12
    PUSHBUTTON      STR_3502,IDC_BUTTON_HDD_ADD,110,137,70,12
    PUSHBUTTON      STR_3503,IDC_BUTTON_HDD_REMOVE,190,137,70,12
END

DLG_CFG_DISK_ADD DIALOG 0, 0, 219, 111
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION STR_3525
FONT 9, FONT_NAME
BEGIN
    LTEXT           STR_FILENAME,IDT_1731,7,7,204,9
    EDITTEXT        IDC_EDIT_HD_FILE_NAME,7,16,148,12
    PUSHBUTTON      STR_BROWSE,IDC_CFILE,162,16,50,12

    LTEXT           STR_3528,IDT_1728,7,35,32,12
    EDITTEXT        IDC_EDIT_HD_CYL,42,34,28,12
    LTEXT           STR_3529,IDT_1727,81,35,29,8
    EDITTEXT        IDC_EDIT_HD_HPC,112,34,28,12
    LTEXT           STR_3530,IDT_1726,154,35,27,10
    EDITTEXT        IDC_EDIT_HD_SPT,183,34,28,12

    LTEXT           STR_3531,IDT_1729,7,54,33,8
    EDITTEXT        IDC_EDIT_HD_SIZE,42,52,28,12

    LTEXT           STR_3532,IDT_1730,86,54,24,8
    COMBOBOX        IDC_COMBO_HD_TYPE,113,52,98,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_BUS,IDT_1721,7,73,24,8
    COMBOBOX        IDC_COMBO_HD_BUS,33,71,58,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_CHANNEL,IDT_1722,99,73,34,8
    COMBOBOX        IDC_COMBO_HD_CHANNEL,134,71,77,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_ID,IDT_1723,117,73,15,8
    COMBOBOX        IDC_COMBO_HD_ID,133,71,26,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           STR_LUN,IDT_1724,168,73,15,8
    COMBOBOX        IDC_COMBO_HD_LUN,185,71,26,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           STR_PROGRESS,IDT_1752,7,7,204,9
    COMBOBOX        IDC_COMBO_HD_CHANNEL_IDE,134,71,77,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         "CreateProgress",IDC_PBAR_IMG_CREATE,"msctls_progress32",
                    PBS_SMOOTH | WS_BORDER,7,16,204,12

    DEFPUSHBUTTON   STR_OK,IDOK,55,89,50,14
    PUSHBUTTON      STR_CANCEL,IDCANCEL,112,89,50,14
END

DLG_CFG_FLOPPY DIALOG 97, 0, 267, 200
STYLE DS_CONTROL | WS_CHILD
FONT 9, FONT_NAME
BEGIN
    LTEXT           STR_3550,IDT_1737,7,7,80,8
    CONTROL         "List1",IDC_LIST_FLOPPY_DRIVES,"SysListView32",
                    LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SINGLESEL |
                    WS_BORDER | WS_TABSTOP,7,18,253,60

    LTEXT           STR_3551,IDT_1738,7,87,70,8
    COMBOBOX        IDC_COMBO_FD_TYPE,33,85,90,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL         STR_3552,IDC_CHECKTURBO,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,131,86,64,10

    CONTROL         STR_3553,IDC_CHECKBPB,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,196,86,64,10
END

DLG_CFG_RMV_DEVICES DIALOG 97, 0, 267, 221
STYLE DS_CONTROL | WS_CHILD
FONT 9, FONT_NAME
BEGIN
    LTEXT           STR_3575,IDT_1739,7,7,80,8
    CONTROL         "List1",IDC_LIST_CDROM_DRIVES,"SysListView32",
                    LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SINGLESEL |
                    WS_BORDER | WS_TABSTOP,7,18,253,60

    LTEXT           STR_BUS,IDT_1740,7,87,34,8
    COMBOBOX        IDC_COMBO_CD_BUS,43,85,80,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_CHANNEL,IDT_1743,141,87,20,8
    COMBOBOX        IDC_COMBO_CD_CHANNEL_IDE,180,85,80,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_ID,IDT_1741,141,87,20,8
    COMBOBOX        IDC_COMBO_CD_ID,165,85,22,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_LUN,IDT_1742,200,87,20,8
    COMBOBOX        IDC_COMBO_CD_LUN,235,85,22,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_3576,IDT_1761,7,107,34,8
    COMBOBOX        IDC_COMBO_CD_SPEED,43,105,80,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_3577,IDT_1762,7,127,80,8
    CONTROL         "List2",IDC_LIST_ZIP_DRIVES,"SysListView32",
                    LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SINGLESEL |
                    WS_BORDER | WS_TABSTOP,7,137,253,60

    CONTROL         STR_3578,IDC_CHECK250,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,7,204,34,10

    LTEXT           STR_BUS,IDT_1753,50,206,25,8
    COMBOBOX        IDC_COMBO_ZIP_BUS,80,204,70,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_CHANNEL,IDT_1756,170,206,30,8
    COMBOBOX        IDC_COMBO_ZIP_CHANNEL_IDE,210,204,50,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_ID,IDT_1754,165,206,20,8
    COMBOBOX        IDC_COMBO_ZIP_ID,185,204,20,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           STR_LUN,IDT_1755,210,206,20,8
    COMBOBOX        IDC_COMBO_ZIP_LUN,235,204,20,120,
                    CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END


/* The string table. */
#define STRTBL(num,str)	num	str

STRINGTABLE
BEGIN
#include "../ui/lang/VARCem.def"
END

/* End of file. */
