src/cpu.new
src/done
# Used by GIT.
.gitignore
# Used by Code::Blocks
src/win/codeblocks
src/win/.depends*
# Used by MSVC.
src/win/.vs
src/win/vc*/Debug
src/win/vc*/Release
# Used by MinGW
src/win/.depends-*
# Used by the UNIX backends.
src/unix
src/unix/.depends-*
# Used by the WxWidgets backend.
src/wx
# Used by the Qt backend.
src/qt
# Standard folders.
roms
vm
# Local stuff, unsorted etc.
src/Makefile
src/waltje
# Other files.
src/*.obj
src/*.d
src/*.o
src/*.exe
src/*.res
src/*.map
contrib/*/.vs
contrib/*/[Bb]in
contrib/*/[Oo]bj
